@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Momo Trust Display", sans-serif;
  color: #fff;
  /* cursor: none !important; */

}

#nav{
  height: 145px;
  width:100%;

  display: flex;
 align-items: center;
  justify-content: flex-start;
  padding: 0 150px;
  gap: 35px;
  position: fixed;
  z-index: 98;
}
#nav img{
  height:80px;
  width: 80px;
}
#nav h4{
  text-transform: uppercase;
  font-weight: 500;
}
#main{
  position: relative;
  background-color: rgba(0, 0, 0, 0.905);
  z-index: 20;
}
#page1{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
 
  
}
#page1 h1{
   font-family: "Momo Trust Display", sans-serif; 
   font-weight: 900;
   font-size: 60px;
   position: relative;
}
#page1 h1::before{
  content:"DESIGN YOUR WORKFLOW ";
  position: absolute;
  color: black;
  top: -4px;
  left:-4px ;
  -webkit-text-stroke:2px #95C11E;
z-index: -1;
}

#cursor{
  height: 25px;
  width:25px;
  background-color: #95C11E;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}
#cursor-blur{
  height: 300px;
  width:300px;
  background-color: #bbd573;
  border-radius: 50%;
  position: fixed;
  
  filter:blur(40px)
}


#scroller{
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar{
  display: none;
}

.scroller-in{
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}
#scroller h4{
  display: inline-block;
  font-size:140px;
  font-weight: 900px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 10px;
  transition: all linear 0.5s;
  color: transparent;
  -webkit-text-stroke: 2px #95C11E;
}
#scroller h4:hover{
  color: #95C11E;
}

@keyframes scroll{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

#vision{
  height: 40vh;
  width:100%;
  background:linear-gradient(grey,yellow);
  /* background-color: #95C11E; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px;
  position: relative;
  z-index: 10;
}
#vision img{
  height: 220px;
  width: 220px;
  border-radius: 20px;
  object-fit: cover;
}
#our-vision{
  width: 50%;
  text-align: center;
}
#our-vision h3{
  font-size: 54px;
  font-weight: 800px;
  margin-bottom:40px;
}
#our-vision p{
  font-size: 20px;
line-height: 24px;
}

#aboutUs{
 /* background-color: black; */
  height: 120vh;
  width: 100%;

}
#aboutUs::before{
  content: "";
  height: 120%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  opacity: 0.9;
  background-color: black;
  left: 0;
}


.Mycard {
  position: relative;
  width: 320px;
  height: 370px;
  overflow: hidden;
  border-radius: 25px;
  background-color: black;

  
}


.Mycard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px !important;
  
  transition: transform 1.0s ease;

}

/* Overlay styling */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #95C11E;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; 
  transform: translateY(100%);
  transition: all 1.0s ease;
  text-align: center;
  padding: 15px;
}


.Mycard:hover img {
  transform: scale(1.1);
}

.Mycard:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}
.Mycard:hover{
  transform: rotate3d(-1,1,0,20deg);
}



#green-div{
  height: 30vh;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  background:linear-gradient(to left bottom,#119f3a,#ACE022)
 
}

#green-div h4{
  width: 45%;

  text-align: center;
  font-size: 23px;
  text-transform: uppercase;
}

#Mission{
  height: 100vh;
  width:100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.gradient-text {
   background: linear-gradient(to right, #ffffff, #f87918); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; /* makes the text show the gradient */
  background-clip: text;           /* standard property for other browsers */
  color: transparent;    
}

#Mission>p{
  font-size: 30px;
  font-weight: 700;
  width: 40%;
  text-align: center;
}
#Mission img{
  height: 60px;
  position: absolute;

}
#Mission #colon1{
  top: 25%;
  left: 25%;

}
#Mission #colon2{
  bottom: 30%;
right: 25%;  
}

#contact{
  position: relative;
  height: 60vh;
  width: 100%;
  background:linear-gradient(to left bottom,#c384ef,#ACE022)
}
#footer{
  height: 70px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  gap:35px;

  align-items: center;


}
#footer img{
  height:60px;
  margin-left: 10px;

}
#footer p{
  padding:10px;
}
#footer p a{
  text-decoration: none;
  color: #95C11E;
}
#contact .address p {
  margin: 0;             
  line-height: 1.0;       
}

